.main-container {
    display: flex;
    justify-content: space-between;
   }
.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top right, #F46927 15%, #EFDC0E 85%);
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    position: relative;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.login-mat-card {
    border-radius: 1.5rem;
    width: 60rem;
    // height: 25rem;
    animation-name: animateFromLeft;
    animation-duration: 1s;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #4caf50;
}
.card-container {
    display: flex;
    justify-content: space-around;
}
.img {
    width: 35rem;
    height: 25rem;
}
.sub-title {
  margin-top: -30px;
  margin-left: 60px;
  font-size: 25px;
  position: absolute;
  background: -webkit-linear-gradient(180deg,#f60a0a, #edb20b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Merienda One', cursive;
}
form {
    padding-right: 10rem;
}
.login-text {
    padding-bottom: 1.5rem;
    text-align: center;
    padding-left: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mat-form-field-appearance-outline .mat-form-field-outline:hover {
    color: rgb(8, 211, 86) !important;
}
.input-field-size {
    width: 150%;
}
.buttonContainer {
    padding-top: 1rem;
}
.mat-button-wrapper {
    color:#f4f4f4;
}

@media only screen and (max-width: 768px) {
  .login-mat-card {
    width: 100%;
    padding: 0px !important;
    margin: 2px 10px;
  }
  .img {
    width: 250px;
    height: 150px;
  }
  .card-container {
    display: block;
    text-align: center;
  }
  .login-text {
    padding-bottom: 15px;
    text-align: center;
    padding-left: 0px;
  }
  .input-field-size {
    width: 90%;
  }
  form {
    padding: 20px !important;
    width: 100%;
}
}
