<div class="container primary-color">
  <mat-card class="login-mat-card" style="width: 60%;">
    <div class="card-container">
      <div style="text-align: center;">
        <img class="img" src="./assets/images/finalized.jpg" alt="logo" />
        <h3 class="sub-title">Tours and Travels</h3>
      </div>
      <div class="form-container">
        <form [formGroup]="login" (ngSubmit)="onSubmit(this.login.value)">
          <div class="login-text">
            <h2> LOGIN </h2>
          </div>
          <div>
            <mat-form-field appearance="outline" class="input-field-size">
              <input matInput formControlName="email" placeholder="Enter your email ID" autocomplete="off"
                [email]="true" />
              <mat-error *ngIf="this.login.get('email').hasError('required')">I'm Mandate 😅</mat-error>
              <mat-error *ngIf="this.login.get('email').invalid">Example: someone@email.com </mat-error>

            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="input-field-size">
              <input type="password" matInput formControlName="password" placeholder="password" autocomplete="off" />
              <mat-error *ngIf="this.login.get('password').hasError('required')">I'm mandate too 😅</mat-error>
            </mat-form-field>
          </div>
          <div class="buttonContainer">
            <button [disabled]="!login.valid" type="submit" class="input-field-size login-button" mat-raised-button
              color="primary"> Login to continue...</button>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
</div>
