<section class="customer-card-container">
  <mat-card *ngIf="!(user$ | async)" class="customer-card  animateFromTop">
    <form [formGroup]="formGroup" class="content-container" #userDetails>
      <h1></h1>
      <mat-vertical-stepper #stepper>
        <mat-step
          formGroupName="nameGroup"
          [stepControl]="formGroup.controls['nameGroup']"
          errorMessage="Name is required"
        >
          <img src="" id="preview" style="display: none;" alt="" />
          <ng-template matStepLabel>Enter your name</ng-template>
          <mat-form-field>
            <input
              matInput
              placeholder="your name..."
              #username
              formControlName="user_name"
              name="someFieldName"
              required
            />
            <mat-error>Name is field is required</mat-error>
          </mat-form-field>
          <div>
            <button
              type="button"
              class="next-button"
              (click)="updateName(username)"
              mat-button
              matStepperNext
            >
              Next
            </button>
          </div>
        </mat-step>
        <mat-step
          formGroupName="phoneNumberGroup"
          [stepControl]="formGroup.controls['phoneNumberGroup']"
          errorMessage="Phone-number is required"
        >
          <ng-template matStepLabel>Phone Number</ng-template>
          <mat-form-field>
            <input
              matInput
              placeholder="example: 9876543210"
              #phonenumber
              formControlName="phone_number"
              name="anotherFieldName"
              required
            />
            <mat-error>Phone number is mandatory</mat-error>
          </mat-form-field>
          <div>
            <button
              type="button"
              class="back-button"
              mat-button
              matStepperPrevious
            >
              Back
            </button>
            <button
              type="button"
              class="next-button"
              mat-button
              (click)="updateNumber(phonenumber)"
              matStepperNext
            >
              Next
            </button>
          </div>
        </mat-step>
        <mat-step
          formGroupName="addressGroup"
          [stepControl]="formGroup.controls['addressGroup']"
          errorMessage="Address is required"
        >
          <ng-template matStepLabel>Address</ng-template>
          <mat-form-field>
            <textarea
              matInput
              placeholder="address with pincode"
              #_address
              formControlName="address"
              name="anotherFieldName"
              required
            ></textarea>
            <mat-error>Address is mandatory</mat-error>
          </mat-form-field>
          <div>
            <button
              type="button"
              class="back-button"
              mat-button
              matStepperPrevious
            >
              Back
            </button>
            <button
              type="button"
              class="next-button"
              mat-button
              (click)="updateAddress(_address)"
              matStepperNext
            >
              Next
            </button>
          </div>
        </mat-step>
        <mat-step
          formGroupName="profilePhotoGroup"
          [stepControl]="formGroup.controls['profilePhotoGroup']"
          errorMessage="User-photo is required"
        >
          <ng-template matStepLabel>Profile-Photo</ng-template>
          <input
            type="file"
            placeholder="address with pincode"
            (change)="setUserPhoto(user_photo)"
            #user_photo
            formControlName="user_photo"
            name="anotherFieldName"
            required
          />
          <button
            type="button"
            mat-button
            class="next-button"
            (click)="updatePhoto(user_photo)"
          >
            Upload Image
          </button>
          <mat-error>User-Photo is mandatory</mat-error>

          <div>
            <button
              type="button"
              class="back-button"
              mat-button
              matStepperPrevious
            >
              Back
            </button>
            <button type="button" class="next-button" mat-button matStepperNext>
              Next
            </button>
          </div>
        </mat-step>
        <mat-step
          formGroupName="bloodGroup"
          #bloodgroup
          [stepControl]="formGroup.controls['bloodGroup']"
          erorMessage="Blood-group is required"
        >
          <ng-template matStepLabel>Select Option</ng-template>
          <mat-form-field>
            <mat-select
              placeholder="Select Option"
              #bindedData
              (selectionChange)="updateBloodGroup(bindedData)"
              formControlName="blood_group"
              name="dropdownFieldName"
              required
            >
              <mat-option value="">Select Option</mat-option>
              <mat-option value="A +ive">A Positive</mat-option>
              <mat-option value="A -ive">A Negative</mat-option>
              <mat-option value="B +ive">B Positive</mat-option>
              <mat-option value="B -ive">B Negative</mat-option>
              <mat-option value="AB +ive">AB Positive</mat-option>
              <mat-option value="AB -ive">AB Negative</mat-option>
              <mat-option value="O +ive">O Positive</mat-option>
              <mat-option value="O -ive">O Negative</mat-option>
              <mat-option value="Unknown">Unknown</mat-option>
            </mat-select>
            <mat-error>Blood group field is required</mat-error>
          </mat-form-field>
          <div>
            <button
              type="button"
              class="back-button"
              mat-button
              matStepperPrevious
            >
              Back
            </button>
            <button
              [disabled]="!formGroup.valid"
              type="submit"
              (click)="onSubmit()"
              class="next-button"
              mat-button
            >
              Done
            </button>
            <button mat-button type="reset" (click)="stepper.reset()">
              Reset
            </button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>
  </mat-card>
</section>
