.back-button {
  margin-right: 3%;
  color: white;
  background-color: coral;
}
.mat-card-image {
  max-width: 85%;
}
.error-image {
  color: #fff;
  border: 1px solid black;
  padding: 5px;
  background-color: #ccc;
}
.example-header-image {
  background-size: cover;
}
.customer-card,
.customer-card-display {
  width: 100%;
  height: 40%;
  margin-bottom: 1rem;
  margin-top: 1%;
  border-radius: 0px;
  border: 0px solid #eaeaea;
  background-color: transparent;
}
input[type="file"] {
  display: none;
}
canvas {
  display: none;
}
.customer-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.customer-content {
  display: flex;
  justify-content: space-between;
}
