.imagePrev {
  overflow: hidden;
}

.user_button_header {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.multi_tiff {
  margin-top: 4%;
}
.primary-button {
  background-color: #4caf50;
  color: white;
}
.close {
  color: #1d89f9;
}

.close_multi {
  position: fixed;
}

.btn_close {
  background: blueviolet;
  color: white;
  padding: 10px;
  margin-left: 35%;
  /* margin-left: 72%; */
}
