<div>
  <img
    src="../../../../../assets/images/sathgurusa.png"
    class="imagePrev"
    height="550"
    width="100%"
  />

  <div class="user_button_header">
    <button (click)="onNoClick()" mat-raised-button class="primary-button">
      Close
    </button>
  </div>
</div>
