<!-- <app-header></app-header> -->
<section>
  <form style="padding-right: 0rem;" [formGroup]="createProjectForm"
    (submit)="createProjectForm.valid && onSubmitButtonClicked(createProjectForm)">
    <div>
      <mat-card class="card-style">
        <span class="close-icon" (click)="onNoClick()" style="float: right; z-index: 5;">
          <img src="../../../../../assets/icon/close.png" alt="" width="19px" (click)="onNoClick()">
        </span>
        <div>
          <mat-form-field style="width: 100%;">
            <textarea autocomplete="off" type="number" formControlName="mSomething" matInput
              placeholder="What's on your mind?..."></textarea>
          </mat-form-field>
        </div>

        <div class="col-12">

          <div *ngIf="imgURL || vidURL" class="media-layout">
            <img [src]="imgURL" height="50" *ngIf="imgURL">
            &nbsp;&nbsp;
            <video [src]="vidURL" height="50" *ngIf="vidURL"></video>
          </div>

          <div style="display: inline-block;">
            <input type="file" placeholder="address with pincode" #user_photo (change)="uploadFeedPhoto(user_photo)"
              formControlName="imageUrl" name="anotherFieldName" />
            <button type="button" mat-raised-button class="sathguru-button upload-button" (click)="user_photo.click()">
              <img src="../../../../../assets/icon/stack-of-photos.png" alt="upload" width="35px" height="35px">
              Image / Video
            </button>
          </div>

          <div style="float: right;">
            <button id="project_submit_button" [disabled]="!createProjectForm.valid" type="submit" mat-stroked-button
              class="primary-button">
              <img src="../../../../../assets/icon/upload.png" alt="upload" width="30px" height="30px">
              Post
            </button>
          </div>

        </div>

      </mat-card>
    </div>
  </form>
</section>
