.card-style {
  // margin: 15px;
  margin: 1% 0% 1% 2%;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 4px 1px lightgrey;
}
.header_create_project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  background-color: #d27519;
}
input[type="file"] {
  display: none;
}
.header {
  width: 100%;
}

.close-icon {
  display: none;
}

.create-client-card {
  margin-left: 69%;
  width: 41%;
  min-height: 400px;
  background: white;
  border: 1px solid lightgray;
  padding: 0;
  margin-top: 12%;
}

.create-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 90px;
  bottom: 50px;
  left: 50px;
  right: 50px;
}

.create-content-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.create-width {
  width: 620px;
}
.primary-button {
  // background-color: #4caf50;
  color: black;
}
button:disabled,
button[disabled] {
  border: 1px solid lightgray;
  background-color: #ffffff;
  color: #ffffff;
}

.create-width-intents {
  width: 95%;
  margin-left: 3%;
}
textarea {
  height: 20px;
  overflow: auto;
  text-transform: capitalize;
}
.mat-form-field-flex {
  width: 100% !important;
}
.header-text {
  margin-top: 10px;
  color: white;
}

.create-button-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.first-child {
  padding-top: 1rem;
}

.padding-create {
  padding-bottom: 2rem;
}

.sidenav-project-details {
  width: 200px;
}

.project {
  display: flex;
  justify-content: space-between;
}

.upload-button {
  box-shadow: none !important;
}
.upload-button:hover {
  background-color: #ea8042;
}
#userName {
  text-transform: capitalize;
}

::-webkit-input-placeholder {
  text-transform: none;
}
:-moz-placeholder {
  text-transform: none;
}
::-moz-placeholder {
  text-transform: none;
}
:-ms-input-placeholder {
  text-transform: none;
}
@media only screen and (max-width: 768px) {
  textarea {
    height: 50px;
  }
  .media-layout {
    margin: 5px 3px 15px 3px;
  }
  .card-style.mat-card {
    background: none;
    border: none;
    box-shadow: none;
  }
  .close-icon {
    display: block;
  }
}
