<div class="wrapper">
  <div class="wrapper-header-cell">
    <div class="profile-image"></div>
    <div class="text">
      <div class="user-header-text-line"></div>
      <div class="text-line"></div>
    </div>
  </div>
  <div class="wrapper-body-cell">
    <!-- <div class="body-text">
      <div class="text"></div>
      <div class="text"></div>
      <div class="text"></div>
      <div class="text"></div>
    </div> -->
    <div class="body-image"></div>
  </div>
</div>
