
.wrapper {
  margin: 10px;
  padding: 30px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper-header-cell {
   display: flex;
}

.wrapper-body-cell {
  margin-top: 20px;
  display: block;
}

// Animation
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}

// Page Elements
.profile-image {
  height: 60px;
  width: 60px;
  border-radius: 35px;
//  background: #F6F6F6;
  @extend .animated-background;
}

.image {
  height: 60px;
  width: 60px;
//  background: #F6F6F6;
  @extend .animated-background;
}

.body-image {
  height: 300px;
  margin-left: 10px;
  width: 90%;
  @extend .animated-background;
}

.text {
  margin: 5px 20px;
  margin-top: 5px;
  width: 90%;
}

.text-line {
  height: 10px;
  width: 230px;
//  background: #F6F6F6;
  margin: 4px 0;
  @extend .animated-background;
}

.user-header-text-line {
  height: 20px;
  width: 450px;
  margin: 4px 0 8px 0px;
  @extend .animated-background;
}
