<app-header></app-header>

<button (click)="openDialog()" click mat-mini-fab class="add-button">
  <i class="material-icons white-text">add</i>
</button>

<section class="feed-container" style="margin-top: 70px;">
  <!-- <app-side-nav-bar></app-side-nav-bar> -->
  <div class="side-menu">
    <mat-list style="position: fixed;">
      <a mat-list-item (click)="navigate('../../dashboard/overview')" routerLinkActive="active">
        <img src="../../../../../assets/icon/home.png" class="side-nav-img" alt="">
        Home
      </a>
      <a mat-list-item (click)="navigate('../../customer/sai-feeds')" routerLinkActive="active">
        <img src="../../../../../assets/icon/feeds.png" class="side-nav-img" alt="">
        Feed Management
      </a>
      <a mat-list-item (click)="navigate('#')" routerLinkActive="active">
        <img src="../../../../../assets/icon/travel-and-tourism.png" class="side-nav-img" alt="">
        Tour Services
      </a>
      <a mat-list-item (click)="navigate('../../customer/user-profile')" routerLinkActive="active">
        <img src="../../../../../assets/icon/user-profile.png" class="side-nav-img" alt="">
        User Profile
      </a>

      <hr style="margin: 4px 17px;">

      <a mat-list-item (click)="openPrivacy()" routerLinkActive="active">
        <img src="../../../../../assets/icon/privacy-policy.png" class="side-nav-img" alt="">
        Privacy and Policy
      </a>
      <a mat-list-item (click)="openTerms()" routerLinkActive="active">
        <img src="../../../../../assets/icon/tandc.png" class="side-nav-img" alt="">
        Terms and Conditions
      </a>
      <a (click)="navigate('#')" routerLinkActive="active" class="copyright">
        &copy;Copyright - BezzieTech
      </a>
    </mat-list>
  </div>

  <div>

  </div>


  <div class="posts">
    <div>
      <app-create-feed></app-create-feed>
    </div>

    <div *ngIf="!(postsList$ | async)">
      <mat-card class="post-card">
        <app-post-loader></app-post-loader>
      </mat-card>

      <mat-card class="post-card">
        <app-post-loader></app-post-loader>
      </mat-card>

      <mat-card class="post-card">
        <app-post-loader></app-post-loader>
      </mat-card>
    </div>

    <div>
      <mat-card *ngFor="let post of postsList$ | async | keyvalue" class="post-card">
        <!-- header -->
        <mat-card-header>
          <img mat-card-avatar class="example-header-image" alt="loading...."
            src="../../../../../assets/images/user.png" />
          <mat-card-title>{{ (post.value.mName | titlecase) || "Sathguru Tours" }}
          </mat-card-title>
          <mat-card-subtitle>{{ post.value.mEmail || "Sathguru Tours" }} -
            {{ post.value.mDate | titlecase }}</mat-card-subtitle>
        </mat-card-header>
        <!-- content/message -->
        <mat-card-content>
          <p [innerHTML]="post.value.mSomething"></p>
        </mat-card-content>
        <!-- image -->
        <img *ngIf="post.value.imageUrl" mat-card-image id="preview" [src]="post.value.imageUrl"
          alt="post.value.imageUrl" />
        <!-- <app-image-grid [imgUrl]="post.value.imageUrl"></app-image-grid> -->

        <mat-card-actions>
          <div *ngIf="checkIfPostLiked(post.value)">
            <i (click)="likeButtonClicked(post)" class="fa fa-heart-o fa-2x like_button">
            </i>
          </div>
          <div *ngIf="!checkIfPostLiked(post.value)">
            <i matTooltip="{{ post.value.likes.length }} likes" matTooltipPosition="above"
              *ngIf="!checkIfPostLiked(post.value)" (click)=unlikeButtonClicked(post)
              class="fa fa-heart fa-2x unlike_button"></i>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>

  <!-- <div class="animateFromTop"> -->
  <div class="user-details">
    <!-- <div class="customer-profile">
        <app-customer-details></app-customer-details>
      </div> -->
    <app-customer-tours></app-customer-tours>
  </div>
  <!-- </div> -->
</section>
