.mat-card-header {
  padding: 13px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: row;
}
.mat-card-avatar {
  margin-top: 6px;
}

.mat-toolbar {
  background: #fafafa;
  color: rgba(0, 0, 0, 0.87);
}

a.mat-list-item:hover {
  cursor: pointer;
  font-size: 15px;
}

a.copyright {
  position: fixed;
  bottom: 0px;
  font-size: 13px;
  margin: 5px 10px;
}

.mat-card-content {
  display: block;
  padding: 3px 16px;
}
.mat-card-image {
  margin: 0px;
}
.mat-card > .mat-card-actions {
  padding: 10px 25px !important;
}
.side-menu {
  width: 20%;
}
.posts {
  width: 50%;
}
.user-details {
  width: 30%;
  text-align: center;
}
.post-card:hover {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}
.customer-profile {
  margin-bottom: 3%;
}
.content-post {
  font-size: 18px;
  line-height: 16px;
  height: 32px;
}

#preview {
  width: 100%;
  height: 628px;
  background-size: cover;
}
.side-nav-img {
  width: 30px;
  margin-right: 10px;
}
.background-white {
  background-color: white;
}
.add-post-icon {
  position: fixed;
}
.unlike_button {
  margin-left: 2%;
  color: #f1803a;
  cursor: pointer;
}

.add-button {
  display: none;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.3);

  border: 1px solid #d27519;
  background-color: #d27519;
  color: white;
  position: fixed;
  z-index: 5;
  bottom: 25px;
  right: 22px;

  &:hover:enabled {
    background-color: #1976d2;
    color: white;
    border: 1px solid #1976d2;
  }
}
.user-details {
  max-width: 100%;
  margin: 1%;
  position: relative;
}

.feed-container {
  display: flex;
}

@media only screen and (max-width: 768px) {
  #preview {
    margin-left: 0;
    width: 100%;
    height: 428px;
  }
  .post-card {
    width: 98%;
    margin: 10px 5px !important;
    margin-bottom: 20px !important;
  }
  app-create-feed {
    display: none;
  }
  .side-menu {
    display: none;
  }

  .user-details {
    display: none;
  }
  .posts {
    width: 100%;
  }
  .add-button {
    display: block;
  }
}
