<section class="edit-section">
  <div>
    <h3>Update Profile</h3>
    <!-- edit layout -->
    <div class="edit-layout">

      <form class="example-form">
        <!-- name -->
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="name" [formControl]="nameFormControl" [errorStateMatcher]="matcher"
            placeholder="ex. Ganesh">
          <mat-error *ngIf="nameFormControl.hasError('minlength') && !nameFormControl.hasError('required')">
            Name should have atleast 3 words...
          </mat-error>
          <mat-error *ngIf="nameFormControl.hasError('required')">
            Name is <strong>mandatory</strong>
          </mat-error>
        </mat-form-field>
        <!-- email -->
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="email" [formControl]="emailFormControl" [errorStateMatcher]="matcher"
            placeholder="xyz@domain.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <!-- phone number -->
        <mat-form-field class="example-full-width">
          <mat-label>Mobile Number</mat-label>
          <input matInput [(ngModel)]="mobile" [formControl]="phoneFormControl" [errorStateMatcher]="matcher"
            placeholder="ex. 9876543210">
          <mat-error *ngIf="phoneFormControl.hasError('maxlength') || phoneFormControl.hasError('minlength')">
            Please enter a valid mobile number
          </mat-error>
          <mat-error *ngIf="phoneFormControl.hasError('required')">
            Mobile number is <strong>mandatory</strong>
          </mat-error>
        </mat-form-field>
        <!-- blood group -->
        <mat-form-field class="example-full-width">
          <mat-label>Blood Group</mat-label>
          <input matInput [(ngModel)]="bloodGroup" [formControl]="bloodGroupFormControl" [errorStateMatcher]="matcher"
            placeholder="ex. B +ve, AB -ve">
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Blood Group is <strong>required for emergency purpose.</strong>
          </mat-error>
        </mat-form-field>
        <!-- address -->
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <input matInput [(ngModel)]="address" [formControl]="addressFormControl" [errorStateMatcher]="matcher"
            placeholder="ex. street, city, state, country - pincode">
          <mat-error *ngIf="addressFormControl.hasError('required')">
            Address is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>

    </div>

    <!-- close submit -->
    <div mat-dialog-actions style="float: right;">
      <button mat-button (click)="cancel()">Close</button>
      <button mat-button (click)="update()">Update</button>
    </div>
  </div>
</section>
