<app-header></app-header>


<div class="hanging-menu">
  <div class="menu-item menu-post-item">
    <div class="menu-post-name menu-name">
      Newsfeeds
    </div>
    <img (click)="navigate('../customer/sai-feeds')" src="../../../assets/icon/feeds.png" alt="feed" width="32px"
      class="post-icon">
  </div>
  <br />
  <div class="menu-item  menu-profile-item">
    <div class="menu-profile-name menu-name">
      User Profile
    </div>
    <img (click)="navigate('../customer/user-profile')" src="../../../assets/icon/user-profile.png" alt="feed"
      width="32px" class="profile-icon">
  </div>
  <br />
  <div class="menu-item  menu-tour-item">
    <div class="menu-tour-name menu-name">
      Tour Details
    </div>
    <img src="../../../assets/icon/travel-and-tourism.png" alt="feed" width="32px" class="tour-icon">
  </div>
</div>

<section class="home-page">

  <!-- image-slider -->
  <div class="slider">
    <angular-image-slider [autoRotate]="true" [autoRotateAfter]="5000" [autoRotateRight]="true" [images]="imagesUrl">
    </angular-image-slider>
  </div>

  <!-- services -->
  <div class="services">

    <div class="div-title">
      <h2>OUR SERVICE</h2>
      <p>Sathguru Tours and Travels offers best services with utmost hospitality for bus,flight,cabs and train
        tickets.</p>
    </div>

    <div class="row">
      <div class="col-md-4 col-xs-6 col-sm-6">
        <div class="feature-block text-center">
          <div class="icon-box">
            <i class="material-icons" style="color:#F9A602">directions_bus</i>
          </div>
          <h4 class="wow fadeInUp" data-wow-delay=".3s">BUS</h4>
          <p class="wow fadeInUp" data-wow-delay=".5s">Sathguru Tours and Travels offer busses from any part of India to
            Shirdi</p>
        </div>
      </div>

      <div class="col-md-4 col-xs-6 col-sm-6">
        <div class="feature-block text-center">
          <div class="icon-box">
            <i class="material-icons" style="color:#F9A602">directions_transit</i>
          </div>
          <h4 class="wow fadeInUp" data-wow-delay=".3s">TRAIN TICKETS</h4>
          <p class="wow fadeInUp" data-wow-delay=".5s">Sathguru Tours and Travels offers train tickets from and to
            Shirdi with Accommodation Facility.</p>
        </div>
      </div>

      <div class="col-md-4 col-xs-6 col-sm-6">
        <div class="feature-block text-center">
          <div class="icon-box">
            <i class="material-icons" style="color:#F9A602">flight</i>
          </div>
          <h4 class="wow fadeInUp" data-wow-delay=".3s">FLIGHT TICKETS</h4>
          <p class="wow fadeInUp" data-wow-delay=".5s">Sathguru Tours and Travels offers Flight tickets to Shirdi from
            any place in India.</p>
        </div>
      </div>

      <div class="col-md-4 col-xs-6 col-sm-6">
        <div class="feature-block text-center">
          <div class="icon-box">
            <i class="material-icons" style="color:#F9A602">directions_car</i>
          </div>
          <h4 class="wow fadeInUp" data-wow-delay=".3s">CAB SERVICES</h4>
          <p class="wow fadeInUp" data-wow-delay=".5s">Sathguru Tours and Travels provides cab services from Pune to
            Shirdi and from other States to Shirdi</p>
        </div>
      </div>

      <div class="col-md-4 col-xs-6 col-sm-6">
        <div class="feature-block text-center">
          <div class="icon-box">
            <i class="material-icons" style="color:#F9A602">hotel</i>
          </div>
          <h4 class="wow fadeInUp" data-wow-delay=".3s">ACCOMODATION AND AMNETIES</h4>
          <p class="wow fadeInUp" data-wow-delay=".5s">Sathguru Tours and Travels gives Accommodation facilities to the
            devotees at utmost Geniality.</p>
        </div>
      </div>

    </div>
  </div>

  <!-- team -->
  <div class="team">
    <div class="div-title">
      <h2>ELIGANT ARTISAN</h2>
      <p>Work smart, Attain simply !</p>
    </div>
    <div class="row text-centre">
      <div class="block wow fadeInLeft" data-wow-delay=".9s">
        <img src="../../../assets/images/boomi.jpg" alt="boominathan" class="ceo-image">
      </div>
    </div>

    <div class="row text-centre">
      <div class="block wow fadeInLeft" data-wow-delay=".9s">
        <h2 style="font-family: monospace;">BOOMINATHAN GOPI</h2>
        <h3><span style="color:darkgreen;">CEO</span> Of Sathguru Tours and Travels</h3>
        <span class="icon"><i class="ion-quote"></i></span>
        <p>Sathguru Tours and Travels has its soul objective to make devotees reach the shrine with ease and pleasure
          and enjoy the divineness of Shirdi SaiBaba with our team.</p>
      </div>
    </div>

  </div>

  <div class="contact">
    <div class="row">
      <div class="div-title">
        <h2>CONTACT US</h2>
        <p>You can find us in the below details, contact us for help...</p>
      </div>
      <div>
        <div class="col-md-7 col text-centre">
          <iframe style=" border: 3px solid #F9A602;border-radius: 4px;" height="250"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124337.921132118!2d80.08056632734616!3d13.12703482858635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5263bcf73a59e5%3A0x47043024dcddcfa0!2sSathguru+Tours+And+Travels!5e0!3m2!1sen!2sin!4v1528178554624"
            style="border:0" width="75%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-5">
        <div class="block">
          <h3 class="bottom-margin-ten contact-title">
            <img src="../../../assets/icon/location.png" width="25px" alt="location-icon">
            Sathguru Tours and Travels
          </h3>
          <h4 class="bottom-margin-ten">16/37, Sathivinayagar kovil streat</h4>
          <h4 class="bottom-margin-ten">Vinayagapuram</h4>
          <h4 class="bottom-margin-ten">Ambattur</h4>
          <h4 class="bottom-margin-ten">Chennai-600053</h4>
          <h4 class="bottom-margin-ten"><u>Cell:</u><b> (+91) 9962102056</b></h4>
          <h4 class="bottom-margin-ten">Developer: <a href="www.bezzietech.com">BezzieTech</a></h4>
          <a href="https://play.google.com/store/apps/details?id=com.karthi.sathgurutours">
            <img src="../../../assets/icon/playstore.png" width="20px" alt="playstore-icon">
            Android app available.
          </a>
        </div>
      </div>
    </div>
  </div>

</section>

<br />
<br />
<br />


<section *ngIf="false">
  <mat-toolbar class="animateFromTop"> </mat-toolbar>
</section>
<section *ngIf="false" class="customer-card-container">
  <mat-card class="customer-card create-client-card grey-text animateFromTop">
    <div class="header_create_project padding-heading">
      <p class="header-text">
        Sai Feeds
      </p>
    </div>
    <div class="customer-content">
      <img class="sai-feeds-image" src="../../../assets/images/saibaba-mysai.in_.jpg" alt="" />
    </div>
    <div>
      <p class="content">
        Sathguru Tours and Travels offers best services with utmost hospitality
        for bus,flight,cabs and train tickets.
      </p>
      <button class="sathguru-button take-me-there" (click)="navigate('../customer/sai-feeds')" mat-raised-button>
        Take me there
      </button>
    </div>
  </mat-card>
  <mat-card class="customer-card create-client-card grey-text  animateFromTop">
    <div class="header_create_project padding-heading">
      <p class="header-text">
        Profile Details
      </p>
    </div>
    <div class="customer-content">
      <div>
        <img class="user-profile-image" src="../../../assets/images/user.png" alt="" />
      </div>
    </div>
    <p class="user-content">
      Sathguru Tours and Travels offers best services with utmost hospitality
      for bus,flight,cabs and train tickets.
    </p>
    <button class="sathguru-button take-me-there" (click)="navigate('../customer/user-profile')" mat-raised-button>
      Take me there
    </button>
  </mat-card>
  <mat-card class="customer-card create-client-card grey-text  animateFromTop">
    <div class="header_create_project padding-heading">
      <p class="header-text">
        Tours and Travel Services
      </p>
    </div>
    <div class="customer-content">
      <div>
        <img class="tours-travels-image" src="../../../assets/images/sathgurusa.png" alt="" />
        <div>
          <p class="content">
            Sathguru Tours and Travels offers best services with utmost
            hospitality for bus,flight,cabs and train tickets.
          </p>
          <button class="sathguru-button take-me-there" (click)="navigate('#')" mat-raised-button>
            Take me there
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</section>
