.home-page{
margin-top: 100px;
}

.hanging-menu {
  position: fixed;
  top: 50%;
  right: 20px;
  z-index: 10000;
  background-color: transparent;
  padding: 10px 7px;
  border-radius: 30px;
  border: 1px solid lightgray;
}

.hanging-menu:hover {
  background-color: #f1f1f1da;
  box-shadow: 1px 2px 6px 1px lightgrey;
}

.menu-name {
  width: 150px;
  position: absolute;
  background-color: #2372be;
  padding: 3px 10px;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  right: 10px;
  border-radius: 30px;
  z-index: -100;
  animation: mymove 3s backwards;
  animation-delay: 0.5s;
}

.menu-post-name {
  background-image: linear-gradient(260deg, #f4edde, #0a6ed1);
  min-width: 130px;
  display: none;
  top: 13px;
}

.menu-profile-name {
  background-image: linear-gradient(210deg, #f4edde, #b93a5e);
  min-width: 140px;
  display: none;
  top: 68px;
}

.menu-tour-name {
  background-image: linear-gradient(210deg, #f4edde, #a5760b);
  min-width: 150px;
  display: none;
  top: 120px;
}

.menu-item>img{
  border-radius: 10px;
  cursor: pointer;
}

post-icon:hover {
  background-color: #f1f1f1da;
}

profile-icon:hover {
  background-color: #f1f1f1da;
}

tour-icon:hover {
  background-color: #f1f1f1da;
}

.menu-post-item:hover > .menu-post-name {
  display: block;
}

.menu-profile-item:hover > .menu-profile-name {
  display: block;
}

.menu-tour-item:hover > .menu-tour-name {
  display: block;
}

@keyframes mymove {
  from {
    width: 0px;
  }
  to {
    width: 140px;
  }
}

.services {
  margin: 20px;
  padding: 10px 25px;
}

.div-title {
  text-align: center;
  padding-bottom: 70px;
}

.div-title h2 {
  color: #333;
  font-size: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.div-title h2:before {
  content: '';
  width: 40px;
  height: 2px;
  background: #F9A602;
  position: absolute;
  top: 12px;
  left: -60px;
}

.div-title h2:after {
  content: '';
  width: 40px;
  height: 2px;
  background: #F9A602;
  position: absolute;
  top: 12px;
  right: -60px;
}

.div-title p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #817C7C;
}

.text-centre {
  text-align: center;
}

.ceo-image {
  width: 300px;
  border-radius: 50%;
}

.bottom-margin-ten {
  margin-bottom: 10px;
}

.contact-title {
  font-size: 20px;
  background: -webkit-linear-gradient(180deg, #f60a0a, #edb20b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Merienda One", cursive;
}





.mat-toolbar {
  background: #fafafa;
  color: rgba(0, 0, 0, 0.87);
}

.header-text {
  margin-top: 10px;
  color: white;
}
.create-client-card {
  width: 650px;
  min-height: 400px;
  background: white;
  border: 1px solid lightgray;
  padding: 0;
}

.header_create_project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  background-color: #d27519;
}

.sai-feeds-image {
  width: 105px;
  height: 105px;
  margin-top: 20%;
  margin-left: 36%;
}

.user-content {
  margin-top: 9%;
}

.user-profile-image {
  margin-top: 75%;
  width: 105px;
  height: 105px;
  margin-left: 112%;
}

.content {
  margin-top: 12%;
}

.take-me-there {
  margin-top: 6%;
  border: 1px solid lightgray;
  background-color: white;
  color: black;

  &:hover:enabled {
    background-color: #1976d2;
    color: white;
  }
}

.tours-travels-image {
  width: 92%;
  margin-top: 20%;
}

.customer-card {
  width: 350px;
  height: 150px;
  margin-bottom: 1.5rem;
}

.customer-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.customer-content {
  display: flex;
  justify-content: space-between;
}
