<mat-sidenav-container class="nav-container" (backdropClick)="close()">
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose [attr.role]="
      (isWeb$ | async) || (isTablet$ | async) || (isHandSet$ | async)
        ? 'dialog'
        : 'navigation'
    " [mode]="
      (isWeb$ | async) || (isTablet$ | async) || (isHandSet$ | async)
        ? 'over'
        : 'side'
    " [opened]="
      !((isWeb$ | async) || (isTablet$ | async) || (isHandSet$ | async))
    ">
    <mat-toolbar class="nav-bar white-text user-toolbar">

      <div class="user-card">
        <div class="user-image-div">
          <img class="user-image" alt="profile" src="../../../assets/icon/user-profile.png" width="40px" />
        </div>
        <div class="user-detail-div">
          <span class="user-name">{{ (userName | titlecase) }} </span>
          <br />
          <span class="user-email">{{ email }}</span>
        </div>
      </div>

    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="navigate('../../dashboard/overview')" routerLinkActive="active">
        <img src="../../../assets/icon/dashboard.png" class="side-nav-img" alt="">
        Dashboard
      </a>
      <a mat-list-item (click)="navigate('../../customer/user-profile')" routerLinkActive="active">
        <img src="../../../assets/icon/user-profile.png" class="side-nav-img" alt="">
        User Profile
      </a>
      <a mat-list-item (click)="navigate('../../customer/sai-feeds')" routerLinkActive="active">
        <img src="../../../assets/icon/feeds.png" class="side-nav-img" alt="">
        Feed Management
      </a>
      <a mat-list-item (click)="navigate('#')" routerLinkActive="active">
        <img src="../../../assets/icon/travel-and-tourism.png" class="side-nav-img" alt="">
        Tour Services
      </a>
      <hr style="margin: 4px 17px;">

      <a mat-list-item (click)="navigate('#')" routerLinkActive="active">
        <img src="../../../assets/icon/about.png" class="side-nav-img" alt="">
        About
      </a>
      <a mat-list-item (click)="navigate('#')" routerLinkActive="active">
        <img src="../../../assets/icon/privacy-policy.png" class="side-nav-img" alt="">
        Privacy and Policy
      </a>
      <a mat-list-item (click)="navigate('#')" routerLinkActive="active">
        <img src="../../../assets/icon/tandc.png" class="side-nav-img" alt="">
        Terms and Conditions
      </a>
      <a mat-list-item (click)="logout()">
        <img src="../../../assets/icon/logout.png" class="side-nav-img" alt="">
        Logout
      </a>
      <a (click)="navigate('#')" routerLinkActive="active" class="copyright">
        &copy;Copyright - BezzieTech
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="nav-bar" style="position: fixed;">
      <mat-icon class="icon" mat-button (click)="sidenav.open()">menu</mat-icon>
      <img src="../../../../../../assets/icon/finalized-logo.png" alt="logo..." width="40px">
      <div class="header-style">
        <h1 class="title">
          athguru Tours and Travels
        </h1>
      </div>
      <span class="spacer"></span>

      <span class="spacer"></span>
      <button (click)="navigate('../../customer/user-profile')" class="userDetails">
        <div style="display: flex;">
          <div style="float: left;">
            <img src="../../../../../../assets/images/user.png" alt="profile" class="user-photo">
          </div>
          <div>
            {{userName}}
          </div>
        </div>
      </button>
      <!-- <span class="spacer"></span> -->
      <button (click)="logout()" class="logout-button" matTooltip="Logout" matTooltipPosition="left">
        <img src="../../../assets/icon/logout.png" alt="logout" class="logout-img">
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
