.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.header-style {
  font-family: fantasy;
  font-weight: bolder;
  font-size: 25px;
}
.userDetails{
  cursor: pointer;
  background-color: #eff2f159;
  padding: 5px 10px;
  border: 1px solid lightgray;
  border-radius: 30px;
  font-size: 16px;
  margin-right: 20px;
}
img.user-photo {
  width: 20px;
  border-radius: 30px;
  margin: 0px 10px 0px 1px;
}

.logout-img {
  display: block;
  width: 30px;
}
.logout-button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 17px;
  color: white;
  text-align: center;
  display: block;
}

.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  overflow: auto;
  height: unset;
}

.icon {
  display: none;
  color: white;
  cursor: pointer;
}

span {
  padding-left: 10px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  position: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.nav-bar {
  background-color: white;
  color: black;
  box-shadow: 0 2px 9px 2px lightgrey;
}

.title {
  font-size: 30px;
  background: -webkit-linear-gradient(180deg,#f60a0a, #edb20b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Merienda One', cursive;
}

.user-toolbar {
  height: 150px;
}
span.user-name {
  padding: 0px;
}
span.user-email {
  font-size: 13px;
  padding: 0px;
}

.spacer {
  flex: 1 1 auto;
}
.active {
  color: blue;
}
.side-nav-img {
  width: 30px;
  margin-right: 10px;
}
.inline-blk-div {
  display: inline-block;
}
a.copyright {
  position: fixed;
  bottom: 0px;
  font-size: 13px;
  margin: 5px 10px;
}
@media only screen and (max-width: 768px) {
  .icon {
    display: block;
  }
  .userDetails {
    display: none;
  }
  .logout-button {
    display: none;
  }
}
