<div class="latest-tours animateFromTop">
  <div class="tours-card">
    <div class="heading">Trips</div>
    <div class="list-of-tours">
      <div *ngFor="
          let tour of tour$ | async | keyvalue;
          let isFirst = first;
          let i = index
        " class="tour-div" [class.first]="isFirst">
        <mat-card class="tour-detail-container">
          <div class="tour-date-detail">
            <div class="from-date">
              {{ getDate(tour.value.fromDate, "date") }}
            </div>
            <div class="from-month-year small-font">
              {{ getDate(tour.value.fromDate, "month") }},{{
                getDate(tour.value.fromDate, "year")
              }}
            </div>
            <div class="transport-type">
              <img src="../../../../assets/icon/calendar.png" alt="calendar" width="20px">
            </div>
            <div class="to-date">{{ getDate(tour.value.toDate, "date") }}</div>
            <div class="to-month-year">
              {{ getDate(tour.value.toDate, "month") }},{{
                getDate(tour.value.toDate, "year")
              }}
            </div>
          </div>
          <div class="location-details">
            <mat-card-title class="from-to-place">{{ tour.value.from }} - {{ tour.value.to }}</mat-card-title>
            <span class="cost-of-tour"><b> &#8377;{{ tour.value.costOfTrip }}/-</b></span>
            <span class="days-nights"><b>Transit - {{ tour.value.modeOfTransport }}&nbsp;
                <mat-icon class="orange-color" *ngIf="tour.value.modeOfTransport === 'Bus'">
                  directions_bus</mat-icon>
                <mat-icon class="orange-color" *ngIf="tour.value.modeOfTransport === 'Flight'">
                  flight_takeoff</mat-icon>
                <mat-icon class="orange-color" *ngIf="tour.value.modeOfTransport === 'Train'">
                  tram</mat-icon>
              </b></span>
            <div class="contact-enroll">
              <!-- <button (click)="openDoubts()" mat-raised-button class="doubt-button">
                Doubts?</button><span class="spacer"></span> -->
              <div *ngIf="!checkIfEnrolled(tour.value)" class="d-btn" (click)="openDoubts()">
                <svg>
                  <rect x="0" y="0" fill="none" width="106" height="30" />
                </svg>
                Doubts?
              </div>

              <div *ngIf="checkIfEnrolled(tour.value)" class="d-btn" (click)="cancelEnrollmentButtonClicked(tour)">
                <svg>
                  <rect x="0" y="0" fill="none" width="106" height="30" />
                </svg>
                Enrolled
              </div>

              <!-- <button *ngIf="checkIfEnrolled(tour.value)" (click)="cancelEnrollmentButtonClicked(tour)"
                mat-raised-button class="warn-button">
                Enrolled
              </button> -->
              <!-- <button *ngIf="!checkIfEnrolled(tour.value)" (click)="onEnrollButtonClicked(tour)" mat-raised-button
                class="primary-button">
                Enroll
              </button> -->
              &nbsp;&nbsp;&nbsp;
              <div class="e-btn" *ngIf="!checkIfEnrolled(tour.value)" (click)="onEnrollButtonClicked(tour)">
                <svg>
                  <rect x="0" y="0" fill="none" width="106" height="30" />
                </svg>
                Enroll
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
