.latest-tours {
  position: fixed;
}
.latest-tours > .mat-card {
  // height: 15.5rem;
}
.tours-card {
  padding: 0;
}

.list-of-tours {
  overflow: auto;
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    width: 100%;
    padding: 0px 20px;
}
.tour-date-detail {
  width: 15%;
}
.tour-div {
  // height: 12rem;
  margin-bottom: 15px;
}
.tour-div:hover {
  box-shadow: 0px 3px 5px 1px lightgrey;
}
.from-date,
.to-date {
  margin-left: 20%;
  font-size: 30px;
}
.location-details {
  width: 100%;
  padding-left: 15%;
  display: flex;
  flex-direction: column;
}
.cost-of-tour {
  font-size: 28px;
  color: #3f51b5;
  padding-left: 18%;
}
.doubt-button {
  background-color: #f48024;
  color: white;
}
.primary-button {
  background-color: #4caf50;
  color: white;
}
.warn-button {
  background-color: #d9534f;
  color: white;
}
.tour-detail-container {
  display: flex;
  padding: 2%;
  height: 95%;
  border: none;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0px 1px 4px 1px lightgrey;
}
.details-button {
  margin-left: 7%;
  margin-right: 11%;
  margin-top: 23%;
}
.contact-enroll {
  display: flex;
  padding-top: 7%;
}
.days-nights {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-left: 15%;
  padding-top: 4%;
}
.from-month-year,
.to-month-year {
  font-size: 15px;
}
.transport-type {
  text-align: center;
  margin-top: 15%;
}
.heading {
  color: #090808;
  text-shadow: 0px 1px 5px lightgrey;
  font-family: cursive;
  font-size: 30px;
  text-align: center;
  height: 2.5rem;
  padding: 1rem;
  margin-bottom: 35px;
}
.user-details {
  max-width: 100%;
  position: fixed;
  margin-left: 3%;
  min-width: 36%;
}
.from-to-place {
  width: max-content;
  font-size: 24px;
}



.e-btn {
  position: relative;
  display: inline-block;
  width: 106px;
  height: 30px;
  font-size: 11px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  overflow: hidden;
}
.e-btn svg {
  position: absolute;
  top: 0; left: 0;
}
.e-btn svg rect {
  fill: none;
  stroke: green;
  stroke-width: 1;
  stroke-dasharray: 402, 0;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1)
}
.e-btn:hover svg rect {
  stroke-width: 5;
  stroke-dasharray: 10, 210;
  stroke-dashoffset: 33;
}
.e-btn:hover {
  color:green;
  font-size:17px;
  font-weight:bold;
}
.mat-icon {
  vertical-align: middle;
}

.d-btn {
  position: relative;
  display: inline-block;
  width: 106px;
  height: 30px;
  font-size: 11px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  overflow: hidden;
}
.d-btn svg {
  position: absolute;
  top: 0; left: 0;
}
.d-btn svg rect {
  fill: none;
  stroke: orangered;
  stroke-width: 1;
  stroke-dasharray: 402, 0;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1)
}
.d-btn:hover svg rect {
  stroke-width: 5;
  stroke-dasharray: 10, 210;
  stroke-dashoffset: 33;
}
.d-btn:hover {
  color:orangered;
  font-size:17px;
  font-weight:bold;
}
