#photos {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

#photos img {
 /* Just in case there are inline attributes */
//  width: 100% !important;
//  height: auto !important;
  width: 705px !important;
  height: 600px !important;
}

@media (max-width: 1200px) {
 #photos {
 -moz-column-count:    4;
 -webkit-column-count: 4;
 column-count:         4;
 }
 #photos img {
  width: 350px !important;
  height: 350px !important;
}
}
@media (max-width: 1000px) {
 #photos {
 -moz-column-count:    3;
 -webkit-column-count: 3;
 column-count:         3;
 }
 #photos img {
  width: 350px !important;
  height: 350px !important;
}
}
@media (max-width: 800px) {
 #photos {
 -moz-column-count:    2;
 -webkit-column-count: 2;
 column-count:         2;
 }
 #photos img {
  width: 350px !important;
  height: 350px !important;
}
}
@media (max-width: 400px) {
 #photos {
 -moz-column-count:    1;
 -webkit-column-count: 1;
 column-count:         1;
 }
 #photos img {
  width: 350px !important;
  height: 350px !important;
}
}
