<div class="side-menu">
  <mat-list style="position: fixed;">
    <a mat-list-item (click)="navigate('../../dashboard/overview')" routerLinkActive="active">
      <img src="../../../../../assets/icon/dashboard.png" class="side-nav-img" alt="">
      Dashboard
    </a>
    <a mat-list-item (click)="navigate('../../customer/user-profile')" routerLinkActive="active">
      <img src="../../../../../assets/icon/user-profile.png" class="side-nav-img" alt="">
      User Profile
    </a>
    <a mat-list-item (click)="navigate('../../customer/sai-feeds')" routerLinkActive="active">
      <img src="../../../../../assets/icon/feeds.png" class="side-nav-img" alt="">
      Feed Management
    </a>
    <a mat-list-item (click)="navigate('#')" routerLinkActive="active">
      <img src="../../../../../assets/icon/tour.png" class="side-nav-img" alt="">
      Tour Services
    </a>

    <hr style="margin: 4px 17px;">

    <a mat-list-item (click)="navigate('#')" routerLinkActive="active">
      <img src="../../../../../assets/icon/dashboard.png" class="side-nav-img" alt="">
      About
    </a>
    <a mat-list-item (click)="navigate('#')" routerLinkActive="active">
      <img src="../../../../../assets/icon/privacy-policy.png" class="side-nav-img" alt="">
      Privacy and Policy
    </a>
    <a mat-list-item (click)="navigate('#')" routerLinkActive="active">
      <img src="../../../../../assets/icon/tandc.png" class="side-nav-img" alt="">
      Terms and Conditions
    </a>
    <a (click)="navigate('#')" routerLinkActive="active" class="copyright">
      &copy;Copyright - BezzieTech
    </a>
  </mat-list>
</div>

<div>

</div>
