/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
}

.orange-color {
  color: #f46d24;
}

html {
  background-color: #fafafa;
}
.image_container {
  width: 100%;
  height: 628px;
}
.post-card {
  padding: 0px;
  margin-bottom: 2%;
  margin-left: 2%;
  border-radius: 15px;
  border: none !important;
  box-shadow: 0px 2px 5px 1px lightgrey;
}
.like_button {
  margin-left: 2%;
  color: #f1803a;
  cursor: pointer;
}
#preview {
  max-height: 100%;
  max-width: 100%;
  // width: 100%;
  // height: 628px;
  background-size: cover;
}

.sathguru-button {
  border: 1px solid lightgray;
  background-color: white;
  color: black;

  &:hover:enabled {
    background-color: #1976d2;
    color: white;
  }
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1), 0 1px 1px 0 rgba(0, 0, 0, 1),
    0 1px 3px 0 rgba(0, 0, 0, 1);
  border: 2px solid lightgray;
}

.white-text {
  color: #f3f3f3;
  font-weight: bold;
}

.white-smoke {
  color: whitesmoke;
}

.grey-text {
  background-color: lightgray;
}

.blue-shade {
  color: blue;
}

.red-shade {
  color: #d11a2a;
}

.primary-color {
  color: #4caf50;
}

.theme-gradient {
  background-image: linear-gradient(to top right, #d33b2c 15%, #ffc635 85%);
}

.theme-gradient-text {
  color: #d33b2c;
}

.spacer {
  flex: 1 1 auto;
}

.icon-size {
  padding-right: 10px;
  font-size: 32px;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.animateFromTop {
  animation-name: animateFromTop;
  animation-duration: 1s;
}

.animateFromLeft {
  animation-name: animateFromLeft;
  animation-duration: 1s;
}

.pointer {
  cursor: pointer;
}

@keyframes animateFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  80% {
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes animateFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.my-dialog-container .mat-dialog-container {
  display: none;
}
@media only screen and (max-width: 768px) {
  .my-dialog-container .mat-dialog-container {
    display: block;
    padding: 0px !important;
  }
}


//slider
#slider-buttons-left {
  z-index: none !important;
}
#slider-buttons-right {
  z-index: none !important;
}
