@import '~@angular/material/theming';
@include mat-core();

$theme-primary: mat-palette($mat-green);
$theme-accent:  mat-palette($mat-green, A200, A100, A400);
$theme-warn: mat-palette($mat-red);

$theme: mat-light-theme($theme-primary,$theme-accent,$theme-warn);

@include angular-material-theme($theme);