<div class="hanging-menu">


  <div class="menu-item menu-post-item">
    <div class="menu-post-name menu-name">
      Home
    </div>
    <img (click)="navigate('../dashboard/overview')" src="../../../../../assets/icon/home.png" alt="feed" width="32px"
      class="post-icon">
  </div>
  <br />

  <div class="menu-item  menu-profile-item">
    <div class="menu-profile-name menu-name">
      NewsFeed
    </div>
    <img (click)="navigate('../customer/sai-feeds')" src="../../../../../assets/icon/feeds.png" alt="home" width="32px"
      class="profile-icon">
  </div>
  <br />

  <div class="menu-item  menu-tour-item">
    <div class="menu-tour-name menu-name">
      Tour Details
    </div>
    <img src="../../../../../assets/icon/travel-and-tourism.png" alt="tour" width="32px" class="tour-icon">
  </div>
</div>

<section *ngIf="user$ | async" class="header-section">
  <div class="cover-photo"></div>

  <div class="header">
    <img class="header-image" alt="loading...." [src]="(user$ | async)?.user_photo" />
    <h1 class="name">{{ (user$ | async)?.user_name }}</h1>
    <p class="description">
      <span *ngIf="(user$ | async)?.description">
        {{ (user$ | async)?.description }}
      </span>
    </p>
  </div>
</section>

<hr *ngIf="user$ | async" />

<section *ngIf="user$ | async" class="post-section">
  <div style="display: flex;">
    <div *ngIf="user$ | async" class="user-layout">
      <mat-card class="card" style="top: 10px;">
        <div class="user-card-content">
          <h3 class="header-text">Phone Number:</h3>
          <p class="sub-text">{{ (user$ | async)?.phone_number }}</p>
          <h3 class="header-text">Email:</h3>
          <p class="sub-text">{{ (user$ | async)?.email_address }}</p>
          <h3 class="header-text">Blood Group:</h3>
          <p class="sub-text">{{ (user$ | async)?.blood_group }}</p>
          <h3 class="header-text">Address:</h3>
          <p class="sub-text" *ngFor="let addressLine of (user$ | async)?.address?.split(',')">
            {{ addressLine }}
          </p>
          <div class="edit-but-layout">
            <button class="edit-but" (click)="editProfile()">
              Edit Profile
            </button>
          </div>
        </div>
      </mat-card>
    </div>
    <div *ngIf="!posts" class="post-layout">
      <mat-card class="card">
        <app-post-loader></app-post-loader>
      </mat-card>
    </div>
    <div *ngIf="posts" class="user_posts" style="width: 100%;">
      <mat-card *ngFor="let post of posts | keyvalue" class="post-card">
        <!-- header -->
        <mat-card-header>
          <img mat-card-avatar class="example-header-image" alt="loading...."
            src="../../../../../assets/images/user.png" />
          <mat-card-title>{{ (post.value.mName | titlecase) || "Sathguru Tours" }}
          </mat-card-title>
          <mat-card-subtitle>{{ post.value.mEmail || "Sathguru Tours" }} -
            {{ post.value.mDate | titlecase }}</mat-card-subtitle>
        </mat-card-header>
        <!-- content/message -->
        <mat-card-content>
          <p [innerHTML]="post.value.mSomething"></p>
        </mat-card-content>
        <!-- image -->
        <div class="image_container">
          <img *ngIf="post.value.imageUrl" mat-card-image id="preview" [src]="post.value.imageUrl"
            [alt]="post.value.imageUrl" />
        </div>
        <!-- <app-image-grid [imgUrl]="post.value.imageUrl"></app-image-grid> -->

        <mat-card-actions>
          <div>{{ post.value.likes.length }} likes</div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>
<!--   -->

<section *ngIf="!(user$ | async)" class="loader-section">
  <div class="showbox">
    <div class="loader">
      <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="10" />
      </svg>
    </div>
  </div>
</section>
