.header-section {
  position: relative;
}

.header {
  margin-top: -150px;
  text-align: center;
  padding: 0% 20%;
  position: relative;
}

.header-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 2px 1px 10px 1px lightgrey;
}

.name {
  font-family: sans-serif;
  font-size: 30px;
  background: -webkit-linear-gradient(#0099ff, #993399);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: linear-gradient(to bottom right, #0099ff 20%, #993399 72%) !important;
}

.email {
  margin-top: 8px;
}

.description {
  margin-top: 10px;
  padding: 10px;
  color: #575353;
}

$url: url(../../../../../assets/images/nature-design.jpg);
// $b: 1.5em; // border-width
// $blur: blur(9px);
// $rect: inset(0);

div.cover-photo {
  height: 370px;
  max-width: 100%;
  max-height: 400px;
  background: $url;
  font-size: 2em;
  box-shadow: 0 3px 10px 6px white inset;
}

hr {
  margin: 10px 10%;
}

.post-section {
  position: relative;
  padding: 10px 10%;
}

.user-layout {
  float: left;
  width: 40%;
}

.user-card-content {
  padding: 15px 7px;
}

.header-text {
  text-shadow: 2px 2px 5px lightgrey;
  font-weight: bolder;
  margin-left: 10px;
}

.sub-text {
  text-align: end;
  margin: 10px;
  color: #211934e0;
}

.edit-but-layout {
  padding: 0px 10%;
}

.edit-but {
  text-align: center;
  width: 100%;
  border-radius: 30px;
  border: 1px solid lightgray;
  padding: 5px;
  background-image: linear-gradient(150deg, #e9910b, #e1594bfa);
  color: white;
  font-size: medium;
  text-decoration: double;
}

.edit-but:hover {
  box-shadow: 2px 3px 7px 2px lightgrey;
}

.post-layout {
  width: 100%;
  padding: 0px 15px;
}

.card {
  padding: 0px;
  margin-bottom: 2%;
  margin-left: 2%;
  border-radius: 15px;
  border: none !important;
  box-shadow: 0px 2px 5px 1px lightgrey;
}

.card:hover {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

// scaling... any units
$width: 100px;

.loader {
  position: relative;
  margin: 0 auto;
  width: $width;
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%,
  90% {
    stroke: $yellow;
  }
}

// demo-specific
body {
  background-color: $white;
}
.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.hanging-menu {
  position: fixed;
  top: 50%;
  right: 20px;
  z-index: 10000;
  background-color: transparent;
  padding: 10px 7px;
  border-radius: 30px;
  border: 1px solid lightgray;
}

.hanging-menu:hover {
  background-color: #f1f1f1da;
  box-shadow: 1px 2px 6px 1px lightgrey;
}

.menu-name {
  width: 150px;
  position: absolute;
  background-color: #2372be;
  padding: 3px 10px;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  right: 10px;
  border-radius: 30px;
  z-index: -100;
  animation: mymove 3s backwards;
  animation-delay: 0.5s;
}

.menu-post-name {
  background-image: linear-gradient(260deg, #f4edde, #08878b);
  min-width: 130px;
  display: none;
  top: 13px;
}

.menu-profile-name {
  background-image: linear-gradient(210deg, #f4edde, #0a6ed1);
  min-width: 140px;
  display: none;
  top: 68px;
}

.menu-tour-name {
  background-image: linear-gradient(210deg, #f4edde, #a5760b);
  min-width: 150px;
  display: none;
  top: 120px;
}

.menu-item>img{
  border-radius: 10px;
  cursor: pointer;
}

post-icon:hover {
  background-color: #f1f1f1da;
}

profile-icon:hover {
  background-color: #f1f1f1da;
}

tour-icon:hover {
  background-color: #f1f1f1da;
}

.menu-post-item:hover > .menu-post-name {
  display: block;
}

.menu-profile-item:hover > .menu-profile-name {
  display: block;
}

.menu-tour-item:hover > .menu-tour-name {
  display: block;
}

@keyframes mymove {
  from {
    width: 0px;
  }
  to {
    width: 140px;
  }
}
